.cardList{
	display: flex;
	justify-content: space-around;
	flex-flow: row wrap;
}
.desc{
	width: 300px;
	background-color: rgba(0, 0, 0, 0.1);
	padding: 20px;
	border: 1px dashed #eee;
	margin: 20px auto;
	color: #eee;
	text-align: left;
	p{
		margin: 0;
		padding: 0;
	}
}
